*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
build/
/captures/
.externalNativeBuild
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
keystore.properties
*.keystore
*.jks
app/release/

# temporary package from setup
sitg.zip
sitg2.zip
sitg3.zip
sitg4.zip
sitg5.zip
sitg6.zip
sitg7.zip
